<table class="table">
  <tr>
    <th>Color</th>
    <th>Value</th>
  </tr>
  <% @quantils[:normal].each_with_index do |quantil, i| %>
    <tr>
    <td style="background-color: <%= @colors[i] %>;"></td>
    <td id ="quantil<%= i%>"></td>
  </tr>
<% end %>
  <tr>
    <td style="background-color: <%= @colors[3] %>;"></td>
    <td id='quantil3'></td>
  </tr>
</table>
