<%= javascript_include_tag "heat_map" %>
<h1 id="title">Open Street Crimes</h1>

<%= content_tag "div", id: 'map', class: 'smallmap', data: {district: @districts, center_x: @center.x, center_y: @center.y } do %>
<% end %>
<div id="docs">
  <p>Maybe put some statistics right here.
  </p>
</div>
