<%= javascript_include_tag "heat_map" %>
<h1 id="title">Open Street Crimes - Heatmap (<%= link_to 'District Map', 'district_heatmap' %>)</h2>

<%= content_tag "div", id: 'map', class: 'smallmap', data: {district: @districts, crimes: @crimes, center_x: @center.x, center_y: @center.y } do %>
<% end %>
<div id="docs">
  <p>Maybe put some statistics right here.
  </p>
</div>
