development: &defaults
  adapter: postgis
  database: openstreetcrimes_dev
  host: localhost
  username: user
  password: user

test:
  <<: *defaults
  database: openstreetcrimes_test

production:
  <<: *defaults
  database: openstreetcrimes_prod
