development: &defaults
  adapter: postgis
  schema_search_path: "public"
  postgis_extension: true
  database: openstreetcrimes_dev
  host: localhost
  username: user
  password: user

test:
  <<: *defaults
  database: openstreetcrimes_test

production:
  <<: *defaults
  database: openstreetcrimes_prod
