/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

/* bootstrap adaptions */

// force buttongroup one line below submits
.form-actions .btn-group {
  display: block;
  margin-top: $baseLineHeight;
}

// fixed header won't hide content
#main {
  margin-top: 2.5*$baseLineHeight;
}

footer {
  margin-top: $baseLineHeight;
}

// fix: remove colored background on brand link
a.brand:hover {
  background-color: transparent;
}

// fix: textcolor is properly set, but it won't override default button color
.btn-primary, .btn-danger {
  color: $bodyBackground !important;
}
